@model IList<EUni_Client.Models.TestViewModel>

<h2>title</h2>

@if (Model.Count > 0)
{
    foreach (var test in Model)
    {
        using (Html.BeginForm("Index", "Questions"))
        {
            <input name="TestId" type="text" value="@test.TestId" hidden />
            <input name="ModuleId" type="text" value="@test.ModuleId" hidden />
            <input type="submit" class="btn-link" style="color: dodgerblue" value="@test.Name" />
        }
    }
}
else
{
    <p>No tests to show.</p>
}

<button type="submit" class="btn btn-default" id="createBtn">Create Test</button>

<div id="hiddenForm" hidden>

    <h3>Create Test</h3>

    @using (Html.BeginForm("Create", "Test", FormMethod.Post, new { @id = "target", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <input name="moduleId" type="text" value="@ViewBag.ModuleId" hidden />
            <label>Test Name:</label>
            <input name="name" type="text" class="form-control" placeholder="Test Name" style="margin-left: 17px;" required>
        </div>

        <button type="submit" class="btn btn-default">Create</button>
    }

</div>


<div>
    <h2>Student section</h2>

    @if (Model.Count > 0)
    {
        foreach (var test in Model)
        {
            if (test.Grade != 0)
            {
                <input name="testId" type="text" value="@test.TestId" hidden />
                <input type="submit" class="btn-link" style="color: dodgerblue" value="@test.Name"/>
                <p class="success">@test.Grade</p>
            }
            else
            {
                using (Html.BeginForm("TakeTest", "Test"))
                {
                    <input name="testId" type="text" value="@test.TestId" hidden />
                    <input type="submit" class="btn-link" style="color: dodgerblue" value="@test.Name" />
                }
            }
        }
    }
    else
    {
        <p>No tests to show.</p>
    }
</div>

<script src="~/Scripts/jquery-2.2.0.js"></script>
<script>
    $(document).ready(function () {
        $('#createBtn').on('click', function () {
            $('#hiddenForm').show();
        });
    });
</script>