

<h3>@ViewBag.Module.Name Content</h3>
<br>


@{
    var i = 0;
    <h5>Resources</h5>
    if (ViewBag.Files.Count > 0)
    {
        <table class="table table-striped table-hover">
            <tr>
                <th>#</th>
                <th>File Name</th>
                <th>Path</th>
            </tr>
            @foreach (var file in ViewBag.Files)
            {
            i++;
            <tr>
                <td>@i</td>
                <td>
                    @file.Filename
                </td>
                <td>
                    <a href="@file.Path" class="btn btn-primary" style="width: 150px">
                        <div class="glyphicon glyphicon-download col-md-1" style="margin: 5px 0 0 0">
                        </div>
                        <div style="font-family: Roboto; margin: 1px 0 0 0">Download</div>
                    </a>
                </td>
            </tr>
            }
        </table>

    }
    else
    {
        <h5>No content to show!</h5>
    }
}
<br>
<br>

    @{
        <h5>Content</h5>
        foreach (var page in ViewBag.WikiPages)
        {
            <li>@Html.Raw(page.Content)</li>
        }
    }

