
<h3>@ViewBag.Module.Name Homework</h3>
<br>
@Html.ActionLink("Upload Homework(student)", "UploadHomework", "Module", new { area = "" }, new { @class = "btn btn-default" })

@Scripts.Render("~/bundles/jquery")

@using (Html.BeginForm("UploadFile", "Module", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-10">
            <input type="file" name="Module" value="@ViewBag.Module" style="display: none"/>
            <input type="file" id="Avatar" name="files" class="btn btn-default"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}