

@if (ViewBag.module != null)
{<h3>@ViewBag.Module.Name</h3>}


@using (Html.BeginForm("Content", "Module"))
{
    <input name="Module" value="@ViewBag.Module" style="display: none" />
    <input name="Course" value="@ViewBag.Course" style="display: none" />
    <input type="submit" class="btn-link" style="color: dodgerblue" value="Content" />
}

@using (Html.BeginForm("Index", "Wiki"))
{
     <input name="Module" value="@ViewBag.Module" style="display: none" />
     <input name="Course" value="@ViewBag.Course" style="display: none" />
     <input type="submit" class="btn-link" style="color: dodgerblue" value="Wiki" />
}

@using (Html.BeginForm("Homework", "Module"))
{
    <input name="Module" value="@ViewBag.Module" style="display: none" />
    <input name="Course" value="@ViewBag.Course" style="display: none" />
    <input type="submit" class="btn-link" style="color: dodgerblue" value="Homework" />
}

@using (Html.BeginForm("Index", "Test"))
{
    <input name="Module" value="@ViewBag.Module" style="display: none" />
    <input name="Course" value="@ViewBag.Course" style="display: none" />
    <input type="submit" class="btn-link" style="color: dodgerblue" value="Test" />
}

<br>

@Html.ActionLink("Upload Homework(student)", "UploadHomework", "Module", new
{
    Module = ViewBag.Module,
    Course = ViewBag.Course
        
}, new { @class = "btn btn-default" })
