

<h3>Module</h3>


@Html.ActionLink("Content", "Content", "Module", new { c = ViewBag.c }, new { @class = "" })
<br>
@Html.ActionLink("Wiki", "Index", "Wiki", new { area = "" }, new { @class = "" })
<br>
@Html.ActionLink("Test", "Index", "Test", new { area = "" }, new { @class = "" })
<br>
@Html.ActionLink("Homework", "Homework", "Module", new { area = "" }, new { @class = "" })
<br>

<br>



@Html.ActionLink("Upload Homework(student)", "UploadHomework", "Module", new { area = "" }, new { @class = "btn btn-default" })
