

<h2>Assign Teacher To a Course</h2>
<br>
<form>
    <div class="form-group">
        <label>Teacher:</label>
        <select name="" class="form-control" style="margin-left: 17px;" required>
            @foreach (var teacher in ViewBag.Teachers)
            {
                <option>@teacher.LastName @teacher.FirstName @teacher.DomainUserId</option>
            }
        </select>
        <label>Course:</label>
        <select name="CourseCode"class="form-control" style="margin-left: 17px;" required>
            @foreach (var course in ViewBag.Courses)
            {
                <option>@course.Name @course.CourseCode</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-default">Assign</button>
</form>
