﻿<h2>Courses</h2>
<br>

<table class="table table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Course</th>
        <th>Code</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    <tr>
        <td>1</td>
        <td>
            @Html.ActionLink(((string)ViewBag.Courses[0]), "Course", "Courses", new { area = "" }, new { @class = "" })
        </td>

        <td>code</td>
        <td>date</td>
        <td>date</td>
    <tr>
    <tr>
        <td>2</td>
        <td>
            @Html.ActionLink(((string)ViewBag.Courses[1]), "Course", "Courses", new { area = "" }, new { @class = "" })
        </td>
        <td>code</td>
        <td>date</td>
        <td>date</td>

    <tr>
    <tr>
        <td>3</td>
        <td>
            @Html.ActionLink(((string)ViewBag.Courses[2]), "Course", "Courses", new { area = "" }, new { @class = "" })
        </td>
        <td>code</td>
        <td>date</td>
        <td>date</td>

    <tr>
    <tr>
        <td>4</td>
        <td>
            @Html.ActionLink(((string)ViewBag.Courses[3]), "Course", "Courses", new { area = "" }, new { @class = "" })
        </td>
        <td>code</td>
        <td>date</td>
        <td>date</td>

    <tr>
    <tr>
        <td>5</td>
        <td>
            @Html.ActionLink(((string)ViewBag.Courses[4]), "Course", "Courses", new { area = "" }, new { @class = "" })
        </td>
        <td>code</td>
        <td>date</td>
        <td>date</td>

    <tr>
</table>



<br>
<footer>
    @Html.ActionLink("Create course", "Create", "Courses", new { area = "" }, new { @class = "btn btn-default", @style = "margin-right: 20px" })
    @Html.ActionLink("Assign teacher", "AssignTeacher", "Courses", new { area = "" }, new { @class = "btn btn-default" })
</footer>
