@using Newtonsoft.Json



<br>
<h2>Create Wiki</h2>
<br />
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
@Scripts.Render("~/bundles/jquery")

<div class="">
    <section id="loginForm">
        @using (Html.BeginForm("CreateWiki", "Wiki", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "target", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div id="summernote">Hello Summernote</div>
            <input validateRequest="false" name="wiki" id="wiki" style="display: none" />
            <script>
                $(document).ready(function () {
                    $('#summernote').summernote({
                        height: 300, // set editor height
                        minHeight: 200, // set minimum height of editor
                        maxHeight: 1000, // set maximum height of editor
                        focus: true // set focus to editable area after initializing summernote
                    });

                    $("#target").submit(function (event) {
                        var code = $('#summernote').summernote('code');
                        $("#wiki").val(
                            JSON.stringify({
                                Content: code,
                                ModuleId: '@ViewBag.Module.ModuleId',
                                Module: '@Html.Raw(JsonConvert.SerializeObject(ViewBag.Module))'
                            }));
                        console.log($("#wiki").val());
                    });

                    @*$('#submitbutton').click(function () {
                        var code = $('#summernote').summernote('code');
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("CreateWiki")',
                            data: {
                                wiki:
                            }
                        });
                    });*@

                });
            </script>

            <div class="form-group">
                <div class="col-md-offset-10">
                    <input id="submitbutton" type="submit" value="Create Wiki" class="btn btn-default" />
                </div>
            </div>
        }
    </section>
</div>