<h2>@ViewBag.Homework.Text</h2>

<h2>Teacher section</h2>
<table class="table table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Student</th>
        <th>File</th>
    </tr>
    @{
        var i = 0;
        foreach (var homework in ViewBag.Homeworks)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>
                    @homework.FullUserName
                </td>
                <td>
                    @foreach (var file in homework.Paths)
                    {
                        <a href="@file.Path" class="btn btn-primary" style="width: 150px" data-toggle="tooltip" title="@file.FileName">
                            <div class="glyphicon glyphicon-download col-md-1" style="margin: 5px 0 0 0">
                            </div>
                            <div style="font-family: Roboto; margin: 1px 0 0 0">Download</div>
                        </a>
                    }
                </td>
            </tr>
        }
    }
</table>


<h2>Student Section</h2>

@using (Html.BeginForm("UploadHomework", "Homework", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="">
            <input type="text" name="Homework" value="@ViewBag.Homework" style="display: none" />
            <input type="text" name="Module" value="@ViewBag.Module" style="display: none" />
            <input type="file" id="Avatar" name="Files" class="btn" />
            <br />
            <input type="submit" value="Upload Homework" class="btn btn-default" />
        </div>
    </div>
}