<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Courses", "Index", "Courses")</li>
<li>@Html.ActionLink("Logs", "Index", "Logs")</li>
<li>@Html.ActionLink("Forums", "Index", "Forums")</li>
<li>@Html.ActionLink("Video Conference", "Index", "VideoConference")</li>
<li>@Html.ActionLink("Users", "Index", "Users")</li>